@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #fffdf9;
}

@layer utilities {
  @keyframes float-slow {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes float-mid {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes float-fast {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-30px);
    }
  }

  @keyframes fade-slide-up {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-float-slow {
    animation: float-slow 6s ease-in-out infinite;
  }

  .animate-float-mid {
    animation: float-mid 4.5s ease-in-out infinite;
  }

  .animate-float-fast {
    animation: float-fast 3.5s ease-in-out infinite;
  }

  .animate-fade-slide-up {
    animation: fade-slide-up 1.2s ease-out forwards;
  }
}